<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRwHplWla_fsn901Ug5soOyBNkf9eO210</string>
	<key>GCM_SENDER_ID</key>
	<string>522880057613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fawazalrasyid.redooceit</string>
	<key>PROJECT_ID</key>
	<string>redooceit-abp</string>
	<key>STORAGE_BUCKET</key>
	<string>redooceit-abp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522880057613:ios:f14c3b0c3ae2cffba87044</string>
</dict>
</plist>